.nav,
#strip {
  background-image: url(../images/the-flatiron-building.png);
  color: white;
}
html {
  text-align: center;
  font-family: Helvetica;
}
a {
  color: white;
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
.footer {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
